/*Mobile*/
@media (max-width: 450px) {
  /*Event form*/
  #event-description {
    flex-direction: column;
    height: auto;
  }

  .btn{
    opacity: 1;
  }

  #disclaimer {
    padding: 2rem;
  }

  #disclaimer h2 {
    margin-bottom: 0.5rem;
  }

  #subdcription-form {
    max-width: 70%;
    margin-bottom: 2rem;
  }

  .benefits {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
  }

  .benefit {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  /*Event location*/
  #location {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 2rem 0;
  }

  .address {
    order: 2;
    flex-direction: column;
    max-width: 100%;
  }

  .address i {
    margin: 0.3rem 0;
  }

  #about-location {
    order: 1;
    max-width: 100%;
  }

  #about-location h3 {
    margin-bottom: 0;
  }

  #about-location p {
    display: none;
  }

  /*Event details container*/
  .detail {
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0;
  }

  .detail img {
    width: 100%;
    margin: 2rem 0;
  }

  .detail-description {
    padding: 0;
  }

  #detail-3 img {
    order: 2;
  }

  #detail-3 .detail-description {
    order: 1;
  }

  /*Call to Action Section*/
  #cta {
    text-align: center;
  }

  #cta .btn {
    width: 80%;
  }
}
